{% extends "layout.html" %}
{% block content %}
  <h1>Activities Page</h1>
  <div class="floating-container">
      <a class="floating-button" href="{{ url_for('add_activity')}}"> +</a>
  </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Activity 1</th>
                <th scope="col">Activity 2</th>
                <th scope="col">Activity 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Sunday</th>

                <td style="{{ 'color: red;' if d1 and d1.activity1 else 'color: green;' }}">{{ 'V' if d1 and d1.activity1 else 'X' }}</td>
                <td>{{ 'Yes' if d1 and d1.activity2 else 'X' }}</td>
                <td>{{ 'Yes' if d1 and d1.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Monday</th>
                <td>{{ 'V' if d2 and d2.activity1 else 'X' }} </td>
                <td>{{ 'V' if d2 and d2.activity2 else 'X' }}  </td>
                <td>{{ 'V' if d2 and d2.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Tuesday</th>
                <td>{{ 'V' if d3 and d3.activity1 else 'X' }} </td>
                <td>{{ 'V' if d3 and d3.activity2 else 'X' }}</td>
                <td>{{ 'V' if d3 and d3.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Wednesday</th>
                <td>{{ 'V' if d4 and d4.activity1 else 'X' }} </td>
                <td>{{ 'V' if d4 and d4.activity2 else 'X' }}</td>
                <td>{{ 'V' if d4 and d4.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Thursday</th>
                <td>{{ 'V' if d5 and d5.activity1 else 'X' }} </td>
                <td>{{ 'V' if d5 and d5.activity2 else 'X' }}</td>
                <td>{{ 'V' if d5 and d5.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Friday</th>
                <td>{{ 'V' if d6 and d6.activity1 else 'X' }} </td>
                <td>{{ 'V' if d6 and d6.activity2 else 'X' }}</td>
                <td>{{ 'V' if d6 and d6.activity3 else 'X' }}</td>
              </tr>
              <tr>
                <th scope="row">Saturday</th>
                <td>{{ 'V' if d7 and d7.activity1 else 'X' }} </td>
                <td>{{ 'V' if d7 and d7.activity2 else 'X' }}</td>
                <td>{{ 'V' if d7 and d7.activity3 else 'X' }}</td>
              </tr>

            </tbody>
          </table>




{% endblock content %}

