{% extends "layout.html" %}
{% block content %}
  <h1>Home Page</h1>
  <h4>Notifications:</h4>
      {% for notification in notifications %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ notification.title }}</small>
              <small class="text-muted">{{ notification.content }}</small>
              <small class="text-muted">{{ notification.date }}</small>
              <small class="text-muted">{{ notification.time }}</small>
            </div>
          </div>  
        </article>
      {% endfor %}
{% endblock content %}
