{% extends "layout.html" %}
{% block content %}
  <h2> TakeCare - User Panel </h2>
  <br>
  <h4>Notifications:</h4>
  <div class="content-section">
    {% if notifications.count() == 0  %}
        <h5>No notifications found</h5>

    {% else %}
      {% for notification in notifications %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <big class="text-muted">{{ notification.date.strftime('%Y-%m-%d') }}    {{ notification.time }} </big>
          </div>
          <h2>{{ notification.title }}</h2>
          <p class="article-content">{{ notification.content }}</p>
        </div>
      </article>
      {% endfor %}
    {% endif %}
    <a class="btn btn-info btn-sm ml-1" href="{{url_for('notification')}}"> View All Notifications</a>
    <a class="btn btn-primary btn-sm ml-1" href="{{url_for('add_notification')}}"> Add New Notification</a>
  </div>

  <h4>Drugs:</h4>
  <div class="content-section">
    {% if drugs.count() == 0  %}
        <h5>No drugs found</h5>

    {% else %}
      {% for drug in drugs %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <big class="text-muted">{{ drug.startdate.strftime('%Y-%m-%d') }} </big>
          </div>
          <h2>{{ drug.name }}</h2>
          <p class="article-content">{{ drug.type }}</p>>
        </div>
      </article>
      {% endfor %}
    {% endif %}
    <a class="btn btn-info btn-sm ml-1" href="{{url_for('drugs')}}"> View All Drugs</a>
    <a class="btn btn-primary btn-sm ml-1" href="{{url_for('add_drug')}}"> Add New Drug</a>
  </div>


{% endblock content %}
